:root {
  --color-mow-light: #c3b892;
  --color-mow-dark: #453a28;
  --color-uks-light: #bddbd8;
  --color-uks-dark: #2b6342;
  --color-arh-light: #d1bdbf;
  --color-arh-dark: #312c32;
  --color-iar-light: #c8e4eb;
  --color-iar-dark: #293228;
  --color-vvo-light: #bcd2e7;
  --color-vvo-dark: #234295;
  --color-khv-light: #ecada5;
  --color-khv-dark: #341c1a;
}

.page__body {
  font-family: "Verdana", sans-serif;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: 1rem;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

.card {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr auto;
  padding: 1.25rem;
  border-radius: 1rem;
  background-color: #e7e7e7;
  aspect-ratio: 2 / 3;
}

.card--100 {
  background-color: var(--color-mow-light);
  color: var(--color-mow-dark);
}

.card--200 {
  background-color: var(--color-uks-light);
  color: var(--color-uks-dark);
}

.card--500 {
  background-color: var(--color-arh-light);
  color: var(--color-arh-dark);
}

.card--1k {
  background-color: var(--color-iar-light);
  color: var(--color-iar-dark);
}

.card--2k {
  background-color: var(--color-vvo-light);
  color: var(--color-vvo-dark);
}

.card--5k {
  background-color: var(--color-khv-light);
  color: var(--color-khv-dark);
}

.seller {
  display: contents;
}

.seller__link {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  display: flex;
  justify-content: center;
  width: 2rem;
  border-radius: 50%;
  background-color: #ffffff;
  aspect-ratio: 1 / 1;
}

.seller__icon {
  object-fit: contain;
  width: 1.25rem;
}

.card__image {
  object-fit: contain;
  width: 100%;
  border-radius: 0.5rem;
}

.card__title {
  margin-bottom: 0;
  text-transform: uppercase;
}

/* .card__title > .card__link::before { */
/*   content: ""; */
/*   position: absolute; */
/*   inset: 0; */
/* } */

.card__link {
  color: inherit;
}

.card__description,
.card__price {
  margin: 0;
}

.card__price {
  justify-self: end;
  font-weight: 700;
  font-size: 1.5rem;
}
